# API Keys and Secrets configuration
DATABASE_URL=postgresql://neondb_owner:npg_lJTp3GwDszI0@ep-little-brook-a52mrgvy-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ADMIN_EMAIL=djoudimadani09@gmail.com
